<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://m0rxc4gkanf5r36:8081/Service1.svc/CustomerSellerService"
                binding="basicHttpBinding" bindingConfiguration="service"
                contract="ServiceReference1.IService1" name="service" />
        </client>
    </system.serviceModel>
</configuration>